Repository novemberfiveco/eslint-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JanStevens, @AdrianMrn, @ThomasVanleynseele

chore: add release it to every package
  .github/workflows/ci.yml
  package-lock.json
  package.json
  packages/cra/package.json
  packages/next/package.json
  packages/vite/package.json
Owners: @JanStevens, @ThomasVanleynseele, @AdrianMrn

chore: bump permissions
  .github/workflows/ci.yml
Owners: @JanStevens

chore: use GH Push token
  .github/workflows/ci.yml
Owners: @JanStevens

chore: manually bump cra version
  packages/cra/package.json
  packages/vite/package.json
Owners: @ThomasVanleynseele, @AdrianMrn

fix: ensure we pass the args to release it
  .github/workflows/ci.yml
Owners: @JanStevens

fix: revert version bump
  .github/workflows/ci.yml
  packages/cra/package.json
Owners: @JanStevens, @ThomasVanleynseele

fix: dont try to publish to npm
  .github/workflows/ci.yml
  packages/cra/package.json
Owners: @JanStevens, @ThomasVanleynseele

fix: use PAT for pulling
  .github/workflows/ci.yml
Owners: @JanStevens

fix: specify run name
  .github/workflows/ci.yml
Owners: @JanStevens

chore: release v0.1.0
  packages/cra/CHANGELOG.md
Owners: @ThomasVanleynseele

chore: release v0.1.1
  packages/cra/CHANGELOG.md
Owners: @ThomasVanleynseele

fix: bump version locally, remove wrong changelog
  packages/cra/CHANGELOG.md
  packages/cra/package.json
Owners: @ThomasVanleynseele

chore: release v1.3.0
  packages/cra/CHANGELOG.md
  packages/cra/package.json
Owners: @ThomasVanleynseele

chore: release v0.3.1
  packages/next/CHANGELOG.md
  packages/next/package.json
Owners: @ThomasVanleynseele

chore: release v0.3.1
  packages/vite/CHANGELOG.md
  packages/vite/package.json
Owners: @AdrianMrn

feat: add prettier 3.0 support for next and vite
  package-lock.json
  packages/next/package.json
  packages/vite/package.json
Owners: @JanStevens, @ThomasVanleynseele, @AdrianMrn

chore: backwards support
  package-lock.json
  packages/next/package.json
  packages/vite/package.json
Owners: @JanStevens, @ThomasVanleynseele, @AdrianMrn

chore: regroup rules
  packages/next/index.js
  packages/vite/index.js
Owners: @ThomasVanleynseele, @AdrianMrn

chore: upgrade node version
  package-lock.json
  package.json
Owners: @JanStevens

feat: add prettier 3.0 support for next and vite
  package-lock.json
  package.json
  packages/next/index.js
  packages/next/package.json
  packages/vite/index.js
  packages/vite/package.json
Owners: @JanStevens, @ThomasVanleynseele, @AdrianMrn

chore: release v0.4.0
  packages/next/CHANGELOG.md
  packages/next/package.json
Owners: @ThomasVanleynseele

chore: release v0.4.0
  packages/vite/CHANGELOG.md
  packages/vite/package.json
Owners: @AdrianMrn

.github/CODEOWNERS:

* @JanStevens
packages/vite @AdrianMrn
packages/next @ThomasVanleynseele
packages/cra @ThomasVanleynseele
