Repository novemberfiveco/eslint-config, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ThomasVanleynseele, @minjie0501, @LazloN5

chore: working vite/next/typescript, now startin on serverless/rn
  README.md
  package-lock.json
  packages/next/index.js
  packages/next/index.mjs
  packages/next/package.json
  packages/react-native/index.cjs
  packages/react-native/index.js
  packages/react-native/package.json
  packages/serverless/index.js
  packages/serverless/index.mjs
  packages/typescript/index.mjs
  packages/typescript/package.json
  packages/vite/index.js
  packages/vite/index.mjs
  packages/vite/package.json
Owners: @ThomasVanleynseele, @LazloN5, @minjie0501

chore: just use js instead of mjs to see a clearer changelog
  package-lock.json
  packages/next/index.js
  packages/next/package.json
  packages/serverless/index.js
  packages/serverless/package.json
  packages/typescript/index.js
  packages/typescript/package.json
  packages/vite/index.js
  packages/vite/package.json
Owners: @ThomasVanleynseele, @minjie0501

chore: use mjs again
  packages/next/index.mjs
  packages/next/package.json
  packages/serverless/index.mjs
  packages/serverless/package.json
  packages/typescript/index.mjs
  packages/typescript/package.json
  packages/vite/index.mjs
  packages/vite/package.json
Owners: @ThomasVanleynseele, @minjie0501

chore: serverless
  package-lock.json
  packages/serverless/index.mjs
  packages/serverless/package.json
Owners: @minjie0501

chore: react-native support
  packages/react-native/index.cjs
  packages/react-native/package.json
Owners: @LazloN5

chore: react-native support
  package-lock.json
  packages/next/index.mjs
  packages/next/package.json
  packages/react-native/index.cjs
  packages/react-native/package.json
  packages/serverless/package.json
  packages/typescript/index.mjs
  packages/typescript/package.json
  packages/vite/index.mjs
  packages/vite/package.json
Owners: @ThomasVanleynseele, @LazloN5, @minjie0501

chore: remove barrel-files, to constraining for now
  package-lock.json
  packages/next/index.mjs
  packages/next/package.json
  packages/vite/index.mjs
  packages/vite/package.json
Owners: @ThomasVanleynseele

chore: update readme
  README.md
  packages/next/README.md
  packages/react-native/README.md
  packages/serverless/README.md
  packages/typescript/README.md
  packages/vite/README.md
  packages/vite/package.json
Owners: @ThomasVanleynseele, @LazloN5, @minjie0501

chore: refine readme's
  packages/next/README.md
  packages/next/package.json
  packages/react-native/README.md
  packages/react-native/index.cjs
  packages/react-native/package.json
  packages/serverless/README.md
  packages/serverless/package.json
  packages/typescript/README.md
  packages/typescript/index.mjs
  packages/typescript/package.json
  packages/vite/README.md
  packages/vite/package.json
Owners: @ThomasVanleynseele, @LazloN5, @minjie0501

chore: align package versions
  packages/next/package.json
  packages/react-native/package.json
  packages/serverless/package.json
  packages/typescript/package.json
  packages/vite/package.json
Owners: @ThomasVanleynseele, @LazloN5, @minjie0501

chore: update readme
  README.md
  packages/typescript/index.mjs
Owners: @ThomasVanleynseele

chore: extend global ignores a bit more
  packages/typescript/index.mjs
Owners: @ThomasVanleynseele

.github/CODEOWNERS:

packages/vite @ThomasVanleynseele
packages/next @ThomasVanleynseele
packages/typescript @ThomasVanleynseele
packages/serverless @minjie0501
packages/react-native @LazloN5
